<div class="col-xs-12 px-5 ">
    <h6 class="my-3">IGT Overview</h6>
    <p>
        IGT Solutions (IGT) is committed to simplifying complex customer interactions while delivering a seamless
        experience. It provides integrated BPM, Technology and Digital Services & Solutions for clients across
        industries.IGT Solutions is a next-gen customer experience (CX) company, defining and delivering transformative
        experiences for the global and most innovative brands using digital technologies. With the combination of
        Digital and Human Intelligence, IGT becomes the preferred partner for managing (end-to-end) CX journeys across
        Travel and Hi-tech industries.
    </p>
</div>